<mat-tab-group>
  <mat-tab label="Simulation" isActive="activeTab === 'sim'">
    <mat-card>
      <mat-card-content>
        <input matInput required="true" placeholder="Simulation Name">
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="createSimulation()" >Create Simulation</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Pod" disabled="{{ !simulation }}" isActive="activeTab === 'pod'">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="podForm">
          <mat-tab-group class="pod-meta-tab">
            <mat-tab label="Pod Info">
              <mat-form-field>
                <input matInput placeholder="Pod Name" formControlName="name">
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Storage">
              <mat-form-field>
                <input matInput placeholder="Max IOPS" formControlName="maxIOPS">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Read Cost" formControlName="storageReadCost">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Write Cost" formControlName="storageWriteCost">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Queue Capacity" formControlName="storageQueueCapacity">
              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="createPod()" >Create Pod</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Workload Group" disabled="{{ !podInFocus }}" isActive="activeTab === 'wlg'">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="workloadGroupForm">
          <mat-tab-group class="pod-meta-tab">
            <mat-tab label="Workload Group Info">
              <mat-form-field>
                <input matInput placeholder="Name/Role (unique)" formControlName="groupName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Number of Containers" formControlName="numContainers">
              </mat-form-field>
            </mat-tab>
            <mat-tab label="Storage">
              <!-- <mat-form-field>
                <input matInput placeholder="Max IOPS" formControlName="maxIOPS">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Read Cost" formControlName="storageReadCost">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Write Cost" formControlName="storageWriteCost">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Queue Capacity" formControlName="storageQueueCapacity">
              </mat-form-field> -->
            </mat-tab>
          </mat-tab-group>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="createWorkload()" >Create Workload</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<mat-grid-list cols="12">
  <mat-grid-tile [colspan]="12">
    <mat-grid-tile-header>{{ simulation ? 'Simulation (' + simulation.id + ')' : 'Creating Simulation...'}}</mat-grid-tile-header>
  </mat-grid-tile>
  <ng-container *ngIf="!podInFocus">
    <mat-grid-tile 
      class="pod-list-item"
      *ngFor="let pod of pods"
      [colspan]="4"
      [rowspan]="3">
      <mat-card class="{{ pod.styleClass }}">
        <mat-card-title>Pod ({{ pod.meta.name }})</mat-card-title>
        <mat-card-content>
          <div><span>Workloads: {{ pod.workloadCount() }}</span></div>
          <div><span>Storage Errors: {{ pod.stats.avgStorageError.toFixed(1) }}%</span></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="viewPod(pod)" >View</button>
          <button mat-raised-button (click)="terminatePod(pod)" >Terminate</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
  <ng-container *ngIf="podInFocus && !workloadGroupInFocus">
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      <button mat-raised-button (click)="viewPods()">Back to Pods</button>
    </mat-grid-tile>
    <mat-grid-tile 
      class="workload-group-list-item"
      *ngFor="let workloadGroup of podInFocus.workloadGroups"
      [colspan]="6"
      [rowspan]="3">
      <mat-card class="{{ workloadGroup.styleClass }}">
        <mat-card-title>Group ({{ workloadGroup.name }})</mat-card-title>
        <mat-card-content *ngIf="!workloadGroup.stats" >Waiting for stats...</mat-card-content>
        <mat-card-content *ngIf="workloadGroup.stats">
          <div><span>Workloads: {{ workloadGroup.workloadCount() }}</span></div>
          <div><span>Storage Errors: {{ workloadGroup.stats.avgStorageError.toFixed(1) }}%</span></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="viewWorkloadGroup(workloadGroup)" >View</button>
          <button mat-raised-button (click)="terminateGroup(workloadGroup)" >Terminate</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
  <ng-container *ngIf="podInFocus && workloadGroupInFocus">
    <mat-grid-tile [colspan]="12" [rowspan]="1">
      <button mat-raised-button (click)="viewWorkloadGroups()">Back to Workload Groups</button>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let workload of workloadGroupInFocus.workloads"
      [colspan]="6"
      [rowspan]="3">
      <mat-card class="{{ workload.styleClass }}">
        <mat-card-title>Workload ({{ workload.id }})</mat-card-title>
        <mat-card-content *ngIf="!workload.stats" >Waiting for stats...</mat-card-content>
        <mat-card-content *ngIf="workload.stats">
          <div><span>Total: {{ workload.stats.lastStats.storage.total }}</span></div>
          <div><span>Read (success/fail): {{ workload.stats.lastStats.storage.readSuccess + '/' + workload.stats.lastStats.storage.readFailure }}</span></div>
          <div><span>Write (success/fail): {{ workload.stats.lastStats.storage.writeSuccess + '/' + workload.stats.lastStats.storage.writeFailure }}</span></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="terminateWorkload(workload)" >Terminate</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
