@import './../../app-variables.scss';

mat-card {
  &.medium-load > mat-card-title {
    background-color: $warn;
  }
  &.high-load > mat-card-title {
    background-color: $error;
  }
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

mat-tab-group.pod-meta-tab {
  mat-form-field {
    padding: 10px;
  }
}